Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

feat: add changeset config
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

feat: add prepublish script
  packages/msw-devtools/package.json
Due: none

chore: add changeset
  .changeset/new-carrots-pull.md
Due: none

chore: version
  .changeset/new-carrots-pull.md
  apps/playground/CHANGELOG.md
  apps/playground/package.json
  packages/msw-devtools/CHANGELOG.md
Due: none

chore: typo
  packages/msw-devtools/package.json
Due: none

chore: add npmignore
  packages/msw-devtools/.npmignore
Due: none

chore: set version 0.0.2
  apps/playground/CHANGELOG.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

chore: exclude playground from versioning
  .changeset/config.json
  apps/playground/CHANGELOG.md
Due: none

fix: sideEffects
  packages/msw-devtools/package.json
Due: none

chore: enhance dollar sign description
  packages/msw-devtools/src/components/TabBody/SettingsTab/SettingsTab.tsx
Due: pnpm format

chore: make playground to build with msw
  apps/playground/index.html
  apps/playground/package.json
  apps/playground/src/main.tsx
Due: pnpm format, pnpm --filter playground lint

chore: update README
  README-EN.md
  README.md
  packages/msw-devtools/README-EN.md
  packages/msw-devtools/README.md
Due: none

chore: publish version 0.0.3
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

chore: funding
  .github/FUNDING.yml
Due: none

chore: add nvmrc
  .nvmrc
Due: none

chore: add release script
  package.json
  packages/msw-devtools/package.json
Due: none

chore: add release workflow
  .github/workflows/release.yml
Due: none

chore: gitignore
  .gitignore
Due: none

chore: remove unnecessary barrel pattern
  packages/msw-devtools/src/components/ScrollList.tsx
  packages/msw-devtools/src/components/ScrollList/index.ts
Due: pnpm format

feat: scope all tailwind class, remove prefix
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/components/ScrollList.tsx
  packages/msw-devtools/src/components/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/TabBody/AddMockTab/AddMockForm/CodeEditor.tsx
  packages/msw-devtools/src/components/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtools/src/components/TabBody/TabBody.tsx
  packages/msw-devtools/tailwind.config.js
Due: pnpm format

chore: changeset
  .changeset/tricky-tigers-sparkle.md
Due: none

feat: add version script
  package.json
Due: none

feat: add push step
  .github/workflows/release.yml
Due: none

feat: add tag push
  .github/workflows/release.yml
Due: none

test
  .changeset/forty-ears-smash.md
Due: none

feat: add ci workflow
  .github/workflows/ci.yml
  package.json
Due: none

test
  packages/msw-devtools/src/DevTools.tsx
Due: pnpm format

feat: change publish script
  package.json
  packages/msw-devtools/package.json
Due: none

chore: add auto assign workflow
  .github/workflows/auto_assign.yml
Due: none

test
  .changeset/honest-zebras-fry.md
Due: none

chore: typo
  package.json
Due: none

test
  .changeset/bright-maps-tan.md
Due: none

chore: add auto assign workflow
  .github/auto_assign_config.yml
  .github/workflows/auto_assign.yml
Due: none

chore: refactor folder structure
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/TabBar/index.ts
  packages/msw-devtools/src/components/TabBody/ActivatedMockListTab/index.ts
  packages/msw-devtools/src/components/TabBody/TabBody.tsx
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/components/tabs/TabBar/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/constants.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
  packages/msw-devtools/src/components/tabs/TabBody/index.ts
  packages/msw-devtools/src/types.ts
Due: pnpm format

chore: change hook name
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/hooks/useIsDragging.ts
Due: pnpm format

feat: add useBoolean hook
  packages/msw-devtools/src/hooks/useBoolean.ts
Due: pnpm format

fix: wrong import
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/utils.ts
Due: pnpm format

fix: resolve circular deps
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/types.ts
Due: pnpm format

Path conditions:
  pnpm format: any of: *.{js,jsx,ts,tsx}
  pnpm --filter @custardcream/msw-devtool lint: any of: packages/msw-devtool/**/*.{js,jsx,ts,tsx}
  pnpm --filter playground lint: any of: apps/playground/**/*.{js,jsx,ts,tsx}
