Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm format"],
  "packages/msw-devtool/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @custardcream/msw-devtool lint"
  ],
  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm --filter playground lint"]
}

chore: change coverage target
  packages/core/vitest.config.ts
  packages/msw-devtools/vitest.config.ts
Due: pnpm format

chore: update npmignore
  packages/msw-devtools/.npmignore
Due: none

chore: remove vitest from playground
  apps/playground/package.json
  apps/playground/vitest.config.ts
  apps/playground/vitest.setup.ts
Due: pnpm format, pnpm --filter playground lint

feat: add logger util
  packages/core/src/__tests__/logger.spec.ts
  packages/core/src/logger.ts
Due: pnpm format

feat: add websocket event utils/types
  packages/core/eslint.config.js
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/index.ts
  packages/core/src/types/websocket.ts
  packages/core/src/websocket.ts
Due: pnpm format

chore: move handler generator to core package
  packages/core/package.json
  packages/core/src/__tests__/generateHandler.spec.ts
  packages/core/src/generateHandler.ts
  packages/core/src/index.ts
  packages/msw-devtools/src/lib/__tests__/msw/register.spec.ts
  packages/msw-devtools/src/lib/msw/register.ts
Due: pnpm format

feat: change ACK event type
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/guards.ts
  packages/core/src/types/websocket.ts
Due: pnpm format

fix: core utils edge cases
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/generateHandler.ts
  packages/core/src/guards.ts
  packages/core/src/websocket.ts
Due: pnpm format

feat: add websocket config constants
  packages/core/src/constants.ts
Due: pnpm format

feat: add msw-devtools-server
  .changeset/config.json
  .gitignore
  package.json
  packages/msw-devtools-server/.npmignore
  packages/msw-devtools-server/README.md
  packages/msw-devtools-server/eslint.config.mjs
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/rollup.config.js
  packages/msw-devtools-server/src/__tests__/file.spec.ts
  packages/msw-devtools-server/src/bin.ts
  packages/msw-devtools-server/src/file.ts
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/jsonMockToHandlers.ts
  packages/msw-devtools-server/src/server.ts
  packages/msw-devtools-server/src/types.ts
  packages/msw-devtools-server/src/utils/__tests__/parseJsonMockList.spec.ts
  packages/msw-devtools-server/src/utils/log.ts
  packages/msw-devtools-server/src/utils/parseJsonMockList.ts
  packages/msw-devtools-server/tsconfig.json
  packages/msw-devtools-server/vitest.config.ts
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/log.ts
  packages/msw-devtools/src/lib/server.ts
  pnpm-lock.yaml
Due: pnpm format

chore: change path
  package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/rollup.config.js
  packages/msw-devtools-server/src/cli/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/file.ts
  packages/msw-devtools-server/src/cli/index.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools-server/src/cli/types.ts
  packages/msw-devtools-server/src/cli/utils/__tests__/parseJsonMockList.spec.ts
  packages/msw-devtools-server/src/cli/utils/log.ts
  packages/msw-devtools-server/src/cli/utils/parseJsonMockList.ts
  pnpm-lock.yaml
Due: pnpm format

feat: server side handler hmr
  packages/msw-devtools-server/src/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools-server/src/file.ts
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

fix: handle non file exist edge case
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/jsonMockToHandlers.ts
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

feat: use chokidar instead of ws
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

feat: make server singleton
  packages/msw-devtools-server/src/cli/server.ts
Due: pnpm format

feat: refactor register utils
  packages/msw-devtools-server/src/__tests__/register.spec.ts
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

chore: remove console log
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

feat: add MSWDevtoolsClientType, cleanup on disconnect, refactor cli/server
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/constants.ts
  packages/core/src/guards.ts
  packages/core/src/types/websocket.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools/src/lib/server.ts
Due: pnpm format

feat: remove server script, add output path option
  apps/playground-vue/mock/mock-list.json
  apps/playground-vue/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/rollup.config.js
  packages/msw-devtools-server/src/__tests__/register.spec.ts
  packages/msw-devtools-server/src/cli/index.ts
  packages/msw-devtools-server/src/cli/program.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools-server/src/cli/types.ts
  packages/msw-devtools-server/src/cli/utils/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/utils/file.ts
  packages/msw-devtools-server/src/file.ts
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/register.ts
  pnpm-lock.yaml
Due: pnpm format

chore: changeset
  .changeset/perfect-monkeys-sell.md
Due: none

chore: update README
  README.md
  README/EN/server.gif
  README/KO/README.ko.md
  packages/msw-devtools-server/README.md
  packages/vite-plugin-msw-devtools/README.md
Due: none

chore: remove vitest
  packages/vite-plugin-msw-devtools/package.json
  packages/vite-plugin-msw-devtools/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm format

chore: update dependencies
  .changeset/fifty-cats-talk.md
  apps/docs/package.json
  apps/playground-vue/package.json
  apps/playground/package.json
  package.json
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  packages/vite-plugin-msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: fix lint ignore
  packages/msw-devtools-server/eslint.config.mjs
Due: none

chore: add terser
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/rollup.config.js
  pnpm-lock.yaml
Due: pnpm format

chore: format
  apps/playground-vue/mock/mock-list.json
  packages/msw-devtools/src/components/CodeEditor.tsx
Due: pnpm format

chore: deprecate vite plugin
  packages/vite-plugin-msw-devtools/package.json
Due: none

chore: update npmignore
  packages/msw-devtools-server/.npmignore
Due: none

chore: report coverage ci
  .github/workflows/ci.yml
Due: none

chore: fix husky
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: remove vitest type reference
  packages/vite-plugin-msw-devtools/tsconfig.json
Due: none

chore: update versions
  .changeset/fifty-cats-talk.md
  .changeset/perfect-monkeys-sell.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
  packages/vite-plugin-msw-devtools/CHANGELOG.md
  packages/vite-plugin-msw-devtools/package.json
Due: none

fix: remove test
  apps/playground/src/__tests__/mock/handlers.spec.ts
Due: pnpm format, pnpm --filter playground lint

chore: change constants name
  packages/core/src/constants.ts
  packages/core/src/generateHandler.ts
  packages/core/src/types/JsonMock.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/lib/msw/initialize.ts
  packages/msw-devtools/src/utils/formFieldValuesToJsonMock.ts
  packages/msw-devtools/src/utils/jsonMockToFormFieldValues.ts
Due: pnpm format

fix: isJsonMock guard
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/guards.ts
Due: pnpm format

fix: response delay to be number, not string
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format

fix: add auto fix layer
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/utils.ts
  packages/msw-devtools/src/lib/__tests__/msw/initilaize.spec.ts
  packages/msw-devtools/src/lib/msw/initialize.ts
  packages/msw-devtools/src/utils/__tests__/autoFixJsonMock.spec.ts
  packages/msw-devtools/src/utils/autoFixJsonMock.ts
Due: pnpm format

chore: changeset
  .changeset/itchy-pears-live.md
Due: none

fix: properly package core
  packages/msw-devtools/package.json
  packages/msw-devtools/tsconfig.json
  packages/msw-devtools/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm format

chore: default exclude
  packages/core/vitest.config.ts
  packages/msw-devtools-server/vitest.config.ts
  packages/msw-devtools/vitest.config.ts
Due: pnpm format
