Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm format"],
  "packages/msw-devtool/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @custardcream/msw-devtool lint"
  ],
  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm --filter playground lint"]
}

fix: server dist path
  .changeset/plenty-ties-camp.md
  .gitignore
  packages/msw-devtools-server/package.json
  pnpm-lock.yaml
Due: none

chore: update README
  README.md
  README/KO/README.ko.md
Due: none

chore: update versions
  .changeset/itchy-pears-live.md
  .changeset/plenty-ties-camp.md
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

fix: add build for server
  package.json
Due: none

chore: changeset
  .changeset/unlucky-donkeys-chew.md
Due: none

feat: remove vite plugin package
  .changeset/config.json
  .changeset/slow-poems-appear.md
  apps/playground/package.json
  apps/playground/vite.config.ts
  package.json
  packages/core/vite/events.d.ts
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/vite.ts
  packages/msw-devtools/tsconfig.json
  packages/vite-plugin-msw-devtools/CHANGELOG.md
  packages/vite-plugin-msw-devtools/README.md
  packages/vite-plugin-msw-devtools/eslint.config.js
  packages/vite-plugin-msw-devtools/package.json
  packages/vite-plugin-msw-devtools/rollup.config.js
  packages/vite-plugin-msw-devtools/src/index.ts
  packages/vite-plugin-msw-devtools/src/listeners/mock-list.ts
  packages/vite-plugin-msw-devtools/src/options.ts
  packages/vite-plugin-msw-devtools/src/script/generateHandlerScript.ts
  packages/vite-plugin-msw-devtools/src/script/generateScript.ts
  packages/vite-plugin-msw-devtools/src/types.ts
  packages/vite-plugin-msw-devtools/src/workspace/check-config-files.ts
  packages/vite-plugin-msw-devtools/src/workspace/eslint.ts
  packages/vite-plugin-msw-devtools/src/workspace/packageJson.ts
  packages/vite-plugin-msw-devtools/src/workspace/prettier.ts
  packages/vite-plugin-msw-devtools/tsconfig.json
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

chore: remove server side worker type
  packages/msw-devtools/src/lib/__tests__/msw/initilaize.spec.ts
  packages/msw-devtools/src/lib/msw/initialize.ts
Due: pnpm format

feat: add option to connect server or not
  apps/playground-vue/src/main.ts
  packages/msw-devtools/rollup.config.js
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/index.ts
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  pnpm-lock.yaml
Due: pnpm format

chore: update versions
  .changeset/slow-poems-appear.md
  .changeset/unlucky-donkeys-chew.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

feat: remove msw native support
  packages/msw-devtools/src/lib/__tests__/msw/initilaize.spec.ts
  packages/msw-devtools/src/lib/msw/initialize.ts
Due: pnpm format

chore: refactor same type
  packages/msw-devtools/src/index.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/types.ts
Due: pnpm format

fix: do not initialize websocket if server is not enabled
  .changeset/shiny-dragons-destroy.md
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/lib/server.ts
Due: pnpm format

chore: update versions
  .changeset/shiny-dragons-destroy.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

feat: change core package to be devDeps
  .changeset/quick-sloths-melt.md
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/tsconfig.json
  packages/msw-devtools/package.json
  packages/msw-devtools/tsconfig.json
  pnpm-lock.yaml
Due: none

fix: server connection issue
  .changeset/orange-gifts-serve.md
  apps/playground-vue/src/main.ts
  package.json
  packages/msw-devtools/src/lib/server.ts
Due: pnpm format

chore: update versions
  .changeset/orange-gifts-serve.md
  .changeset/quick-sloths-melt.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

chore: add test code
  packages/msw-devtools-server/src/cli/utils/__tests__/log.spec.ts
Due: pnpm format

fix: default path to be a file
  .changeset/forty-lemons-study.md
  packages/msw-devtools-server/src/cli/__tests__/program.spec.ts
  packages/msw-devtools-server/src/cli/program.ts
Due: pnpm format

chore: change coverage ci
  .github/workflows/ci.yml
Due: none

chore: setup vitest workspace
  package.json
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
  vitest.workspace.ts
Due: pnpm format

chore: update versions
  .changeset/forty-lemons-study.md
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
Due: none

feat: add recursive option
  packages/msw-devtools-server/src/cli/__tests__/program.spec.ts
  packages/msw-devtools-server/src/cli/program.ts
  packages/msw-devtools-server/src/cli/types.ts
Due: pnpm format

chore: update test
  packages/msw-devtools-server/src/cli/__tests__/program.spec.ts
Due: pnpm format

feat: refactor server event handlers logic
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools-server/src/cli/server/__tests__/handleConnection.spec.ts
  packages/msw-devtools-server/src/cli/server/__tests__/listener.spec.ts
  packages/msw-devtools-server/src/cli/server/__tests__/setupClientListeners.spec.ts
  packages/msw-devtools-server/src/cli/server/__tests__/startServer.spec.ts
  packages/msw-devtools-server/src/cli/server/constants.ts
  packages/msw-devtools-server/src/cli/server/file.ts
  packages/msw-devtools-server/src/cli/server/handleConnection.ts
  packages/msw-devtools-server/src/cli/server/index.ts
  packages/msw-devtools-server/src/cli/server/listener.ts
  packages/msw-devtools-server/src/cli/server/setupClientListeners.ts
  packages/msw-devtools-server/src/cli/server/startServer.ts
Due: pnpm format

chore: replace as Mock type assertions to vi.mocked
  packages/msw-devtools-server/src/cli/utils/__tests__/file.spec.ts
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  packages/msw-devtools/src/lib/__tests__/msw/initilaize.spec.ts
  packages/msw-devtools/src/lib/__tests__/msw/register.spec.ts
  packages/msw-devtools/src/lib/msw/worker.ts
Due: pnpm format

feat: handle default path for -r option
  packages/msw-devtools-server/src/cli/__tests__/program.spec.ts
  packages/msw-devtools-server/src/cli/program.ts
Due: pnpm format

feat: move isSameJsonMock guard to core package
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/guards.ts
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/lib/msw/register.ts
  packages/msw-devtools/src/utils/__tests__/isSameMockJson.spec.ts
  packages/msw-devtools/src/utils/isSameJsonMock.ts
Due: pnpm format

chore: fix test
  packages/msw-devtools/src/lib/__tests__/msw/register.spec.ts
Due: pnpm format

feat: add recursive file handler utils
  packages/msw-devtools-server/src/cli/utils/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/utils/file.ts
Due: pnpm format

chore: update packages
  apps/playground/package.json
  package.json
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: update rollup plugins
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: fix tests
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/hooks/__tests__/useBoolan.spec.tsx
  packages/msw-devtools/src/hooks/__tests__/useDragMove.spec.tsx
  packages/msw-devtools/src/hooks/__tests__/useLocalStorageState.spec.tsx
Due: pnpm format

fix: change demo api server
  apps/playground-vue/src/App.vue
  apps/playground/src/App.tsx
Due: pnpm format, pnpm --filter playground lint

feat: add recursive feature
  apps/playground-vue/mock/mock-list.json
  apps/playground-vue/mock/recipes/mock-list.json
  apps/playground-vue/package.json
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/websocket.ts
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/src/cli/program.ts
  packages/msw-devtools-server/src/cli/server/__tests__/handleConnection.spec.ts
  packages/msw-devtools-server/src/cli/server/__tests__/listener.spec.ts
  packages/msw-devtools-server/src/cli/server/__tests__/setupClientListeners.spec.ts
  packages/msw-devtools-server/src/cli/server/file.ts
  packages/msw-devtools-server/src/cli/server/handleConnection.ts
  packages/msw-devtools-server/src/cli/server/listener.ts
  packages/msw-devtools-server/src/cli/server/setupClientListeners.ts
  packages/msw-devtools-server/src/cli/utils/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/utils/file.ts
  packages/msw-devtools-server/src/cli/utils/watch.ts
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  pnpm-lock.yaml
Due: pnpm format

chore: prettier
  apps/playground-vue/mock/mock-list.json
  apps/playground-vue/mock/recipes/mock-list.json
Due: none

fix: type
  packages/msw-devtools/src/lib/__tests__/msw/worker.spec.ts
Due: pnpm format
