Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

chore: minor word changes on demo
  apps/playground-vue/README.md
  apps/playground-vue/index.html
  apps/playground/README.md
  apps/playground/index.html
  apps/playground/src/App.tsx
Due: pnpm format, pnpm --filter playground lint

feat: init docs next js app
  apps/docs/.eslintrc.json
  apps/docs/.gitignore
  apps/docs/.prettierrc
  apps/docs/README.md
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/[locale]/page.tsx
  apps/docs/src/app/[locale]/types.ts
  apps/docs/src/app/globals.css
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/page.tsx
  apps/docs/src/locales/dictionaries.ts
  apps/docs/src/locales/en/common.json
  apps/docs/src/locales/ko/common.json
  apps/docs/tailwind.config.ts
  apps/docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm format

feat: add locale hack & font
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/config.ts
  apps/docs/src/app/layout.tsx
  apps/docs/src/fonts/PretendardVariable.woff2
  apps/docs/src/fonts/index.ts
  apps/docs/tailwind.config.ts
Due: pnpm format

chore: eslint, prettier, tailwind, css style config
  apps/docs/.eslintrc.json
  apps/docs/.prettierrc
  apps/docs/package.json
  apps/docs/src/style.d.ts
  pnpm-lock.yaml
Due: pnpm format

feat: add carousel, language selector
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/[locale]/page.tsx
  apps/docs/src/app/[locale]/types.ts
  apps/docs/src/app/config.ts
  apps/docs/src/app/layout.tsx
  apps/docs/src/app/page.tsx
  apps/docs/src/app/types.ts
  apps/docs/src/components/client/Carousel/Carousel.tsx
  apps/docs/src/components/client/Carousel/assets/en/image1.png
  apps/docs/src/components/client/Carousel/assets/en/image2.png
  apps/docs/src/components/client/Carousel/assets/en/image3.png
  apps/docs/src/components/client/Carousel/assets/en/index.ts
  apps/docs/src/components/client/Carousel/assets/ko/image1.png
  apps/docs/src/components/client/Carousel/assets/ko/image2.png
  apps/docs/src/components/client/Carousel/assets/ko/image3.png
  apps/docs/src/components/client/Carousel/assets/ko/index.ts
  apps/docs/src/components/client/Carousel/index.ts
  apps/docs/src/components/client/LanguageSelector/Icon.tsx
  apps/docs/src/components/client/LanguageSelector/LanguageSelector.tsx
  apps/docs/src/components/client/LanguageSelector/index.ts
  apps/docs/src/components/server/Anchor.tsx
  apps/docs/src/components/server/Docs.tsx
  apps/docs/src/locales/constants.ts
  apps/docs/src/locales/dictionaries.ts
  apps/docs/src/locales/en/common.json
  apps/docs/src/locales/ko/common.json
Due: pnpm format

feat: add meta data
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/icon.svg
  apps/docs/src/app/layout.tsx
Due: pnpm format

fix: type error
  apps/docs/src/app/layout.tsx
Due: pnpm format

chore: add google certificate
  apps/docs/public/google78b81b8c36f3184f.html
Due: none

feat: add sequential response feature
  .changeset/green-icons-approve.md
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/lib/__tests__/msw/generateHandler.spec.ts
  packages/msw-devtools/src/lib/msw/generateHandler.ts
  packages/msw-devtools/src/types.ts
  packages/msw-devtools/src/utils/__tests__/formFieldValuesToJsonMock.spec.ts
  packages/msw-devtools/src/utils/__tests__/isSameMockJson.spec.ts
  packages/msw-devtools/src/utils/__tests__/jsonMockToFormFieldValues.spec.ts
  packages/msw-devtools/src/utils/formFieldValuesToJsonMock.ts
  packages/msw-devtools/src/utils/jsonMockToFormFieldValues.ts
Due: pnpm format

chore: format
  apps/docs/public/google78b81b8c36f3184f.html
Due: none

chore: ignore docs in changeset
  .changeset/config.json
Due: none

fix: change default response as single
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format

feat: split util
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/utils/__tests__/isSameFormFieldValues.spec.ts
  packages/msw-devtools/src/utils/isSameFormFieldValues.ts
Due: pnpm format

feat: change text button to icon button
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

feat: add delete sequential response button
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
Due: pnpm format

chore: add tests
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/__tests__/AddMockFormCodeEditor.spec.ts
Due: pnpm format

fix: edit single response
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
Due: pnpm format

feat: add warning for adding duplicated request handler
  .changeset/green-foxes-confess.md
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

chore: add test
  README.md
  packages/msw-devtools/src/hooks/__tests__/useLocalStorageState.spec.tsx
Due: pnpm format

fix: autosave
  .changeset/chilly-balloons-punch.md
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/constants.ts
Due: pnpm format

chore: update README
  README.md
  README/EN/image4.png
  README/KO/README.ko.md
  README/KO/image4.png
  apps/docs/src/components/client/Carousel/assets/en/image4.png
  apps/docs/src/components/client/Carousel/assets/en/index.ts
  apps/docs/src/components/client/Carousel/assets/ko/image4.png
  apps/docs/src/components/client/Carousel/assets/ko/index.ts
  apps/docs/src/components/server/Docs.tsx
  packages/msw-devtools/README.md
  packages/msw-devtools/README/EN/image4.png
  packages/msw-devtools/README/KO/README.ko.md
  packages/msw-devtools/README/KO/image4.png
Due: pnpm format

chore: add gitignore
  apps/playground-vue/.gitignore
Due: none

fix: typecheck script
  apps/playground-vue/package.json
Due: none

chore: change vercel deploy condition
  .vercel/ignore-step.sh
Due: none

feat: add backwards compatibility
  packages/msw-devtools/src/lib/msw/initialize.ts
Due: pnpm format

chore: update README
  README.md
  README/KO/README.ko.md
  packages/msw-devtools/.npmignore
  packages/msw-devtools/README.md
  packages/msw-devtools/README/KO/README.ko.md
Due: none

feat: fix style
  .changeset/soft-wasps-agree.md
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
Due: pnpm format

chore: update README
  README.md
  README/KO/README.ko.md
  packages/msw-devtools/README.md
  packages/msw-devtools/README/KO/README.ko.md
Due: none

chore: change README sync logic
  .husky/pre-commit
  package.json
  packages/msw-devtools/README.md
  packages/msw-devtools/README/EN/image1.png
  packages/msw-devtools/README/EN/image2.png
  packages/msw-devtools/README/EN/image3.png
  packages/msw-devtools/README/EN/image4.png
  packages/msw-devtools/README/KO/README.ko.md
  packages/msw-devtools/README/KO/image1.png
  packages/msw-devtools/README/KO/image2.png
  packages/msw-devtools/README/KO/image3.png
  packages/msw-devtools/README/KO/image4.png
Due: none

feat: add vite plugin project
  apps/playground/package.json
  apps/playground/vite.config.ts
  package.json
  packages/msw-devtools/package.json
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/lib/vite.ts
  packages/vite-plugin-msw-devtools/eslint.config.js
  packages/vite-plugin-msw-devtools/package.json
  packages/vite-plugin-msw-devtools/rollup.config.js
  packages/vite-plugin-msw-devtools/src/constants.ts
  packages/vite-plugin-msw-devtools/src/events.d.ts
  packages/vite-plugin-msw-devtools/src/index.ts
  packages/vite-plugin-msw-devtools/src/types.ts
  packages/vite-plugin-msw-devtools/tsconfig.json
  packages/vite-plugin-msw-devtools/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

feat: add core package
  packages/msw-devtools-core/eslint.config.js
  packages/msw-devtools-core/package.json
  packages/msw-devtools-core/src/__tests__/guards.spec.ts
  packages/msw-devtools-core/src/constants.ts
  packages/msw-devtools-core/src/guards.ts
  packages/msw-devtools-core/src/index.ts
  packages/msw-devtools-core/src/types.ts
  packages/msw-devtools-core/tsconfig.json
  packages/msw-devtools-core/vite/events.d.ts
  packages/msw-devtools-core/vitest.config.ts
  packages/msw-devtools/package.json
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/utils.ts
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/lib/__tests__/msw/generateHandler.spec.ts
  packages/msw-devtools/src/lib/msw/generateHandler.ts
  packages/msw-devtools/src/lib/msw/initialize.ts
  packages/msw-devtools/src/lib/msw/register.ts
  packages/msw-devtools/src/types.ts
  packages/msw-devtools/src/utils/__tests__/isSameMockJson.spec.ts
  packages/msw-devtools/src/utils/__tests__/jsonMockToFormFieldValues.spec.ts
  packages/msw-devtools/src/utils/formFieldValuesToJsonMock.ts
  packages/msw-devtools/src/utils/isSameJsonMock.ts
  packages/msw-devtools/src/utils/jsonMockToFormFieldValues.ts
  packages/vite-plugin-msw-devtools/package.json
  packages/vite-plugin-msw-devtools/src/index.ts
  packages/vite-plugin-msw-devtools/tsconfig.json
  pnpm-lock.yaml
Due: pnpm format

chore: link versions
  .changeset/config.json
Due: none

feat: declare websocket listener type
  packages/vite-plugin-msw-devtools/src/index.ts
  packages/vite-plugin-msw-devtools/src/types.ts
Due: pnpm format

chore: change dev script
  package.json
Due: none

feat: generate mock handler automatically
  apps/playground/src/__tests__/mock/handlers.ts
  apps/playground/vite.config.ts
  packages/msw-devtools-core/vite/events.d.ts
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/msw/initialize.ts
  packages/msw-devtools/src/lib/vite.ts
  packages/vite-plugin-msw-devtools/package.json
  packages/vite-plugin-msw-devtools/src/index.ts
  packages/vite-plugin-msw-devtools/src/listeners/mock-list.ts
  packages/vite-plugin-msw-devtools/src/options.ts
  packages/vite-plugin-msw-devtools/src/script/generateHandlerScript.ts
  packages/vite-plugin-msw-devtools/src/script/generateScript.ts
  packages/vite-plugin-msw-devtools/src/types.ts
  packages/vite-plugin-msw-devtools/src/workspace/check-config-files.ts
  packages/vite-plugin-msw-devtools/src/workspace/eslint.ts
  packages/vite-plugin-msw-devtools/src/workspace/packageJson.ts
  packages/vite-plugin-msw-devtools/src/workspace/prettier.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

feat: generated handler to have dynamic response
  packages/vite-plugin-msw-devtools/src/script/generateHandlerScript.ts
Due: pnpm format

chore: setup vitest on playground
  apps/playground/package.json
  apps/playground/vitest.config.ts
  apps/playground/vitest.setup.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

chore: add test for generated handlers on playground
  apps/playground/src/__tests__/mock/handlers.spec.ts
  apps/playground/src/__tests__/mock/handlers.ts
Due: pnpm format, pnpm --filter playground lint

Path conditions:
  pnpm format: any of: *.{js,jsx,ts,tsx}
  pnpm --filter @custardcream/msw-devtool lint: any of: packages/msw-devtool/**/*.{js,jsx,ts,tsx}
  pnpm --filter playground lint: any of: apps/playground/**/*.{js,jsx,ts,tsx}
