Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

feat: cache browser binary
  .github/workflows/e2e.yml
Due: none

fix: fix playwright ci
  .github/workflows/e2e.yml
  apps/playground/package.json
  apps/playground/playwright.config.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

chore: change ci
  .github/workflows/e2e.yml
Due: none

fix: browser binary path fix
  .github/workflows/e2e.yml
Due: none

chore: add recommended extensions
  .vscode/extensions.json
Due: none

chore: change script
  apps/playground/playwright.config.ts
  package.json
Due: pnpm format, pnpm --filter playground lint

fix: playwright test cmd
  .github/workflows/e2e.yml
Due: none

chore: update versions
  .changeset/fair-dolphins-juggle.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

feat: change logger color
  packages/core/src/__tests__/logger.spec.ts
  packages/core/src/logger.ts
Due: pnpm format

feat: await server connection
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/server/start.ts
Due: pnpm format

feat: decline server timeout
  packages/msw-devtools-server/src/cli/server/constants.ts
Due: pnpm format

feat: refactor startServer
  packages/msw-devtools/src/lib/server/start.ts
Due: pnpm format

feat: refactor update-recursive
  packages/msw-devtools-server/src/cli/utils/file/update-recursive.ts
Due: pnpm format

feat: refactor lookup
  packages/msw-devtools-server/src/cli/utils/file/lookup.ts
Due: pnpm format

feat: refactor read
  packages/msw-devtools-server/src/cli/utils/file/read.ts
Due: pnpm format

feat: split core with web-core
  .changeset/config.json
  packages/core/src/index.ts
  packages/core/src/types/JsonMock.ts
  packages/msw-devtools/package.json
  packages/msw-devtools/rollup.config.js
  packages/web-core/CHANGELOG.md
  packages/web-core/eslint.config.js
  packages/web-core/package.json
  packages/web-core/src/__tests__/generateHandler.spec.ts
  packages/web-core/src/generateHandler.ts
  packages/web-core/src/index.ts
  packages/web-core/tsconfig.json
  packages/web-core/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm format

feat: add prompt
  packages/msw-devtools/src/components/Prompt/Backdrop.tsx
  packages/msw-devtools/src/components/Prompt/Prompt.tsx
  packages/msw-devtools/src/lib/msw/__tests__/initilaize.spec.ts
  packages/msw-devtools/src/lib/msw/__tests__/prompt.spec.tsx
  packages/msw-devtools/src/lib/msw/__tests__/register.spec.ts
  packages/msw-devtools/src/lib/msw/prompt.tsx
  packages/msw-devtools/src/lib/msw/register.ts
  packages/msw-devtools/src/lib/msw/register.tsx
Due: pnpm format

feat: add prompt response option to form type
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/utils/__tests__/formFieldValuesToJsonMock.spec.ts
  packages/msw-devtools/src/utils/__tests__/jsonMockToFormFieldValues.spec.ts
  packages/msw-devtools/src/utils/formFieldValuesToJsonMock.ts
  packages/msw-devtools/src/utils/jsonMockToFormFieldValues.ts
Due: pnpm format

chore: fix prompt test
  packages/msw-devtools/src/lib/msw/__tests__/prompt.spec.tsx
Due: pnpm format

chore: add mockReset and restoreMocks on vitest config
  packages/core/vitest.config.ts
  packages/msw-devtools-server/vitest.config.ts
  packages/msw-devtools/vitest.config.ts
  packages/web-core/vitest.config.ts
Due: pnpm format

feat: create MethodPill, StatusPill, UrlText component
  packages/msw-devtools/src/components/MethodPill.tsx
  packages/msw-devtools/src/components/StatusPill.tsx
  packages/msw-devtools/src/components/UrlText.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
Due: pnpm format

fix: make prompt to create React Root every time
  packages/msw-devtools/src/lib/msw/__tests__/prompt.spec.tsx
  packages/msw-devtools/src/lib/msw/prompt.tsx
Due: pnpm format

feat: change promptResponse return type
  packages/web-core/src/generateHandler.ts
Due: pnpm format

feat: export JSON type
  packages/core/src/types/JsonMock.ts
Due: pnpm format

feat: utilize isJSONFixable
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/lib/__tests__/json.spec.ts
  packages/msw-devtools/src/lib/json.ts
Due: pnpm format

feat: add Prompt component
  packages/msw-devtools/src/components/Prompt/Backdrop.tsx
  packages/msw-devtools/src/components/Prompt/Prompt.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

fix: update isJsonMock guard
  apps/playground-vue/mock/mock-list.json
  apps/playground-vue/mock/recipes/mock-list.json
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/guards.ts
Due: pnpm format

chore: fix json mock related tests
  packages/core/src/__tests__/websocket.spec.ts
  packages/msw-devtools-server/src/cli/utils/__tests__/parseJsonMockList.spec.ts
Due: pnpm format

chore: change Prompt export pattern
  packages/msw-devtools/src/components/Prompt/index.ts
  packages/msw-devtools/src/lib/msw/register.tsx
Due: pnpm format

feat: add isActivated, shouldPromptResponse toggle
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/constants.ts
Due: pnpm format

feat: add PromptModePill
  packages/msw-devtools/src/components/Prompt/Prompt.tsx
  packages/msw-devtools/src/components/PromptModePill.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

feat: make Toggle to be forwarded ref
  packages/msw-devtools/src/components/Toggle.tsx
Due: pnpm format

feat: add isActivated field to form field
  packages/msw-devtools/src/utils/jsonMockToFormFieldValues.ts
Due: pnpm format

chore: update README
  README.md
  README/EN/prompt-mode.png
  README/KO/README.ko.md
  README/KO/prompt-mode.png
Due: none

chore: update README
  README.md
  README/KO/README.ko.md
Due: none

chore: update prompt mode gif
  README.md
  README/EN/prompt-mode.gif
  README/EN/prompt-mode.png
  README/KO/README.ko.md
  README/KO/prompt-mode.png
Due: none

chore: update changeset
  .changeset/brave-terms-nail.md
  .changeset/good-bobcats-deliver.md
Due: none

chore: fix test related to JsonMock type
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/utils/__tests__/formFieldValuesToJsonMock.spec.ts
  packages/msw-devtools/src/utils/__tests__/isSameFormFieldValues.spec.ts
  packages/msw-devtools/src/utils/__tests__/jsonMockToFormFieldValues.spec.ts
Due: pnpm format

feat: auto fix prompt mode option
  packages/msw-devtools/src/utils/__tests__/autoFixJsonMock.spec.ts
  packages/msw-devtools/src/utils/autoFixJsonMock.ts
Due: pnpm format

Path conditions:
  pnpm format: any of: *.{js,jsx,ts,tsx}
  pnpm --filter @custardcream/msw-devtool lint: any of: packages/msw-devtool/**/*.{js,jsx,ts,tsx}
  pnpm --filter playground lint: any of: apps/playground/**/*.{js,jsx,ts,tsx}
