Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm format"],
  "packages/msw-devtool/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @custardcream/msw-devtool lint"
  ],
  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm --filter playground lint"]
}

feat: change vitest config
  packages/core/vitest.config.ts
  packages/web-core/vitest.config.ts
Due: pnpm format

feat: add web-core ci
  .github/workflows/ci.yml
Due: none

feat: utilize fixJson
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/__tests__/utils.spec.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
Due: pnpm format

feat: refactor AddMockForm
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/EditModeIndicator.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/FormButtons.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/RequestOptions.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/ResponseBodyHeader.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/ToggleOptions.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/URLField.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormDefaults.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormPersistence.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormSubmit.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useJsonValidation.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useResponseManagement.ts
Due: pnpm format

feat: refactor AddMockForm hooks
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormDefaults.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormPersistence.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormSubmit.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useJsonValidation.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useResponseManagement.ts
Due: pnpm format

fix: handle multiple prompts
  packages/msw-devtools/src/lib/msw/__tests__/prompt.spec.tsx
  packages/msw-devtools/src/lib/msw/prompt.tsx
Due: pnpm format

feat: refactor prompt render logic
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/msw/prompt.tsx
Due: pnpm format

chore: update versions
  .changeset/brave-terms-nail.md
  .changeset/fair-dolphins-juggle.md
  .changeset/good-bobcats-deliver.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
  packages/web-core/CHANGELOG.md
  packages/web-core/package.json
Due: none

feat: make simpler playground
  apps/playground/.env
  apps/playground/.prettierrc
  apps/playground/package.json
  apps/playground/src/ApiEndpointButton.tsx
  apps/playground/src/App.tsx
  apps/playground/src/FetchTest.tsx
  apps/playground/src/JsonHighlighter.tsx
  apps/playground/src/QuerySuspenseBoundary.tsx
  apps/playground/src/ReloadButton.tsx
  apps/playground/src/ResponseDisplay.tsx
  apps/playground/src/assets/ClipboardCheckSVG.tsx
  apps/playground/src/assets/ClipboardSVG.tsx
  apps/playground/src/constants.ts
  apps/playground/src/global.css
  apps/playground/src/main.tsx
  apps/playground/src/mocks/handlers.ts
  apps/playground/src/queryOptions.ts
  apps/playground/src/reset.css
  apps/playground/src/utils/copyToClipboard.ts
  apps/playground/vite.config.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

refactor: use abort controller to cleanup event handlers
  packages/msw-devtools/src/hooks/useIsDragging.ts
Due: pnpm format

fix: Layout not to be on sight on close
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/constants.ts
Due: pnpm format

fix: set FloatingButton position to be in safe area
  packages/msw-devtools/src/components/FloatingButton.tsx
Due: pnpm format

chore: changeset
  .changeset/cold-mice-impress.md
Due: none

fix: playground default handler endpoint
  apps/playground/src/mocks/handlers.ts
Due: pnpm format, pnpm --filter playground lint

chore: remove comment
  apps/playground/src/mocks/handlers.ts
Due: pnpm format, pnpm --filter playground lint

chore: update versions
  .changeset/cold-mice-impress.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

feat: wider accordion button
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
Due: pnpm format

feat: improve toggle a11y
  packages/msw-devtools/src/components/Toggle.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/ToggleOptions.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
Due: pnpm format

feat: add activate and deactivate prompt mode functionality to mock list context
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
Due: pnpm format

refactor: streamline mock registration logic in MockListProvider
  packages/msw-devtools/src/components/contexts/mock-list.tsx
Due: pnpm format

refactor: remove redundant margin class from PromptModePill and StatusPill components
  packages/msw-devtools/src/components/PromptModePill.tsx
  packages/msw-devtools/src/components/StatusPill.tsx
Due: pnpm format

refactor: enhance UrlText component with text color styling
  packages/msw-devtools/src/components/UrlText.tsx
Due: pnpm format

feat: add translation support and enhance toggle functionality in MockCardAccordion
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

refactor: adjust layout and styling of AddMockForm components for improved UX
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/FormButtons.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/ToggleOptions.tsx
Due: pnpm format

feat: implement form submission for response handling in Prompt component
  packages/msw-devtools/src/components/Prompt/Prompt.tsx
Due: pnpm format

chore: changeset
  .changeset/rare-snails-nail.md
Due: none

feat: improve playground-vue
  apps/playground-vue/.env
  apps/playground-vue/package.json
  apps/playground-vue/public/api/custard-status
  apps/playground-vue/src/App.vue
  apps/playground-vue/src/assets/ClipboardCheckSVG.vue
  apps/playground-vue/src/assets/ClipboardSVG.vue
  apps/playground-vue/src/assets/global.css
  apps/playground-vue/src/assets/main.css
  apps/playground-vue/src/components/ApiEndpointButton.vue
  apps/playground-vue/src/components/FetchTest.vue
  apps/playground-vue/src/components/JsonHighlighter.vue
  apps/playground-vue/src/components/ReloadButton.vue
  apps/playground-vue/src/components/ResponseDisplay.vue
  apps/playground-vue/src/constants.ts
  apps/playground-vue/src/main.ts
  apps/playground-vue/src/queryOptions.ts
  apps/playground-vue/vite.config.ts
  pnpm-lock.yaml
Due: pnpm format

feat: improve playground
  apps/playground/public/api/custard-status
  apps/playground/src/ApiEndpointButton.tsx
  apps/playground/src/ReloadButton.tsx
  apps/playground/src/main.tsx
  apps/playground/src/mocks/handlers.ts
Due: pnpm format, pnpm --filter playground lint

fix: adjust positioning calculations and styling for FloatingButton component
  packages/msw-devtools/src/components/FloatingButton.tsx
Due: pnpm format

fix: fix buggy FloatingButton click event
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/hooks/useLongClick.ts
Due: pnpm format

chore: changeset
  .changeset/three-maps-develop.md
Due: none

docs: update prompt-mode demo gif
  README/EN/prompt-mode.gif
Due: none

chore: update versions
  .changeset/rare-snails-nail.md
  .changeset/three-maps-develop.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

fix: enable to drag floating button on mobile
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/hooks/useLongClick.ts
Due: pnpm format

fix: enhance mobile drag UX
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/hooks/__tests__/useDrag.spec.tsx
  packages/msw-devtools/src/hooks/useDrag.ts
  packages/msw-devtools/src/hooks/useIsDragging.ts
  packages/msw-devtools/src/hooks/useLatestRef.ts
  packages/msw-devtools/src/hooks/useLongClick.ts
Due: pnpm format

chore: changeset
  .changeset/rude-hornets-hope.md
Due: none

chore: update versions
  .changeset/rude-hornets-hope.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

feat: msw version upgrade
  apps/playground-vue/package.json
  apps/playground/package.json
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  packages/web-core/package.json
  pnpm-lock.yaml
Due: none

chore: changeset
  .changeset/blue-teachers-learn.md
Due: none

chore: update versions
  .changeset/blue-teachers-learn.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
  packages/web-core/CHANGELOG.md
  packages/web-core/package.json
Due: none
