Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

chore: update README
  .changeset/eight-turkeys-wonder.md
  README.md
  README/KO/README.ko.md
Due: none

chore: update README
  README.md
  README/KO/README.ko.md
Due: none

chore: update versions
  .changeset/eight-turkeys-wonder.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

fix: InvalidStateError issue
  .changeset/proud-otters-brake.md
  packages/msw-devtools/src/components/contexts/mock-list.tsx
Due: pnpm format

chore: update versions
  .changeset/proud-otters-brake.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

fix: reset saved form field values
  .changeset/selfish-eggs-change.md
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format

chore: refactor setupClientListeners
  packages/msw-devtools-server/src/cli/server/setupClientListeners.ts
Due: pnpm format

chore: refactor file utils
  packages/msw-devtools-server/src/cli/utils/file.ts
  packages/msw-devtools-server/src/cli/utils/file/__tests__/lookup.spec.ts
  packages/msw-devtools-server/src/cli/utils/file/__tests__/read.spec.ts
  packages/msw-devtools-server/src/cli/utils/file/__tests__/update-recursive.spec.ts
  packages/msw-devtools-server/src/cli/utils/file/__tests__/update.spec.ts
  packages/msw-devtools-server/src/cli/utils/file/index.ts
  packages/msw-devtools-server/src/cli/utils/file/lookup.ts
  packages/msw-devtools-server/src/cli/utils/file/read.ts
  packages/msw-devtools-server/src/cli/utils/file/update-recursive.ts
  packages/msw-devtools-server/src/cli/utils/file/update.ts
Due: pnpm format

feat: refactor startFileWatcher util
  packages/msw-devtools-server/src/cli/utils/watch/__tests__/handler.spec.ts
  packages/msw-devtools-server/src/cli/utils/watch/__tests__/start.spec.ts
  packages/msw-devtools-server/src/cli/utils/watch/handler.ts
  packages/msw-devtools-server/src/cli/utils/watch/index.ts
  packages/msw-devtools-server/src/cli/utils/watch/start.ts
Due: pnpm format

chore: config vitest coverage exclude
  packages/core/vitest.config.ts
  packages/msw-devtools-server/vitest.config.ts
  packages/msw-devtools/vitest.config.ts
Due: pnpm format

chore: vitest jest-dom matcher type extend fix
  package.json
  packages/msw-devtools/package.json
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/hooks/__tests__/useDragMove.spec.tsx
  pnpm-lock.yaml
Due: pnpm format

chore: clear mocks
  packages/core/vitest.config.ts
  packages/msw-devtools-server/src/cli/server/__tests__/handleConnection.spec.ts
  packages/msw-devtools-server/vitest.config.ts
  packages/msw-devtools/vitest.config.ts
  packages/msw-devtools/vitest.setup.ts
Due: pnpm format

chore: Tab context test
  packages/msw-devtools/src/components/tabs/TabBar/__tests__/context.spec.tsx
Due: pnpm format

feat: refactor validation utils
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/__tests__/utils.spec.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
Due: pnpm format

feat: move isJsonMocks guard to core
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/guards.ts
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/utils.ts
Due: pnpm format

feat: refactor file loader / saver logic
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/utils.ts
Due: pnpm format

feat: refactor server utils
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/server.ts
  packages/msw-devtools/src/lib/server/__tests__/listener.spec.ts
  packages/msw-devtools/src/lib/server/__tests__/send.spec.ts
  packages/msw-devtools/src/lib/server/__tests__/serverGuard.spec.ts
  packages/msw-devtools/src/lib/server/__tests__/websocket.spec.ts
  packages/msw-devtools/src/lib/server/index.ts
  packages/msw-devtools/src/lib/server/listener.ts
  packages/msw-devtools/src/lib/server/send.ts
  packages/msw-devtools/src/lib/server/serverGuard.ts
  packages/msw-devtools/src/lib/server/start.ts
  packages/msw-devtools/src/lib/server/websocket.ts
Due: pnpm format

chore: use error matching inline snapshot
  packages/msw-devtools-server/src/cli/utils/__tests__/parseJsonMockList.spec.ts
  packages/msw-devtools/src/components/tabs/TabBar/__tests__/context.spec.tsx
  packages/msw-devtools/src/lib/__tests__/msw/initilaize.spec.ts
  packages/msw-devtools/src/lib/__tests__/msw/worker.spec.ts
Due: pnpm format

chore: move test code dir
  packages/msw-devtools/src/lib/msw/__tests__/initilaize.spec.ts
  packages/msw-devtools/src/lib/msw/__tests__/register.spec.ts
  packages/msw-devtools/src/lib/msw/__tests__/worker.spec.ts
Due: pnpm format

chore: change file name
  packages/msw-devtools-server/src/cli/utils/watch/__tests__/send.spec.ts
  packages/msw-devtools-server/src/cli/utils/watch/__tests__/start.spec.ts
  packages/msw-devtools-server/src/cli/utils/watch/send.ts
  packages/msw-devtools-server/src/cli/utils/watch/start.ts
Due: pnpm format

chore: remove console log
  packages/msw-devtools-server/src/cli/utils/watch/start.ts
Due: pnpm format

fix: remove mock on server on client deletion
  .changeset/clever-rats-tap.md
  packages/msw-devtools-server/src/cli/utils/file/__tests__/update-recursive.spec.ts
  packages/msw-devtools-server/src/cli/utils/file/remove.ts
  packages/msw-devtools-server/src/cli/utils/file/update-recursive.ts
Due: pnpm format

chore: remove util test
  packages/msw-devtools-server/src/cli/utils/file/__tests__/remove.spec.ts
Due: pnpm format

chore: update versions
  .changeset/clever-rats-tap.md
  .changeset/selfish-eggs-change.md
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

chore: lint exclude coverage dir
  packages/core/eslint.config.js
  packages/msw-devtools-server/eslint.config.mjs
  packages/msw-devtools/eslint.config.js
Due: pnpm format

chore: upgrade msw, eslint, vitest, etc
  apps/playground-vue/package.json
  apps/playground/package.json
  package.json
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: pnpm lock update
  pnpm-lock.yaml
Due: none

feat: update msw version
  apps/playground-vue/package.json
  apps/playground-vue/public/mockServiceWorker.js
  apps/playground/package.json
  apps/playground/public/mockServiceWorker.js
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

chore: remove useless expect case
  packages/core/src/__tests__/generateHandler.spec.ts
Due: pnpm format

fix: make vitest to have perfectly same peer dependencies
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: upgrade happy-dom
  package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

feat: add useId hook
  packages/msw-devtools/src/hooks/__tests__/useId.spec.tsx
  packages/msw-devtools/src/hooks/useId.ts
Due: pnpm format

feat: improve a11y for layout and floating button
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/Layout.tsx
Due: pnpm format

feat: setup e2e test
  .gitignore
  apps/playground/e2e/open-close.spec.ts
  apps/playground/package.json
  apps/playground/playwright.config.ts
  apps/playground/tsconfig.node.json
  package.json
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

chore: changeset
  .changeset/fair-dolphins-juggle.md
Due: none

chore: typo
  packages/msw-devtools/src/hooks/__tests__/useDrag.spec.tsx
Due: pnpm format

chore: data-testid typo
  packages/msw-devtools/src/hooks/__tests__/useId.spec.tsx
Due: pnpm format

fix: resolve vitest peer deps issue
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

feat: add e2e ci
  .github/workflows/e2e.yml
  package.json
Due: none

Path conditions:
  pnpm format: any of: *.{js,jsx,ts,tsx}
  pnpm --filter @custardcream/msw-devtool lint: any of: packages/msw-devtool/**/*.{js,jsx,ts,tsx}
  pnpm --filter playground lint: any of: apps/playground/**/*.{js,jsx,ts,tsx}
