Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm format"],
  "packages/msw-devtool/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @custardcream/msw-devtool lint"
  ],
  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm --filter playground lint"]
}

feat: make floating button's position dynamic
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/hooks/useBoolean.ts
  packages/msw-devtools/src/hooks/useDrag.ts
  packages/msw-devtools/src/hooks/useDragMove.ts
  packages/msw-devtools/src/hooks/useLongClick.ts
Due: pnpm format

chore: change name
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
Due: pnpm format

feat: change localStorage key
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/context.tsx
Due: pnpm format

chore: remove unnecessary class
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
Due: pnpm format

feat: add floating button opacity setting
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
Due: pnpm format

feat: better drag ux
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/hooks/useDragMove.ts
  packages/msw-devtools/src/hooks/useLongClick.ts
Due: pnpm format

feat: set max height
  packages/msw-devtools/src/components/Layout.tsx
Due: pnpm format

feat: improved style
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/tailwind.config.js
Due: pnpm format

chore: changeset
  .changeset/tame-apples-think.md
Due: none

chore: typo on README
  README-EN.md
  README.md
  packages/msw-devtools/README-EN.md
  packages/msw-devtools/README.md
Due: none

feat: add i18n support
  .vscode/extensions.json
  .vscode/settings.json
  packages/msw-devtools/package.json
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/i18n.ts
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/en/index.ts
  packages/msw-devtools/src/locales/ko/common.json
  packages/msw-devtools/src/locales/ko/index.ts
  packages/msw-devtools/tsconfig.json
  pnpm-lock.yaml
Due: pnpm format

feat: add korean locale
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

feat: refactor setting context
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/contexts/default-response.tsx
  packages/msw-devtools/src/components/contexts/default-url.tsx
  packages/msw-devtools/src/components/contexts/floating-button.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
Due: pnpm format

feat: add language setting
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab/index.ts
  packages/msw-devtools/src/hooks/useLanguage.ts
  packages/msw-devtools/src/lib/i18n.ts
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

chore: changeset
  .changeset/quick-lobsters-watch.md
Due: none

chore: use constants
  packages/msw-devtools/src/lib/i18n.ts
Due: pnpm format

feat: refactor activated mock list context
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
Due: pnpm format

feat: improve mock list tab style
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/constants.ts
Due: pnpm format

chore: changeset
  .changeset/cuddly-lizards-hunt.md
Due: none

feat: make activated mock list to be saved on local
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
Due: pnpm format

fix: mock initial load
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format

chore: changeset
  .changeset/famous-wombats-sing.md
Due: none

fix: remove wrong export
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/index.ts
Due: pnpm format

fix: default export
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/i18n.ts
Due: pnpm format

fix: add json not to be tree shacked
  packages/msw-devtools/package.json
Due: none

chore: changeset
  .changeset/large-guests-complain.md
Due: none

chore: update README
  README-EN.md
  README.md
  packages/msw-devtools/README-EN.md
  packages/msw-devtools/README.md
Due: none

chore: change exported function name
  .changeset/twelve-schools-bake.md
  apps/playground/src/main.tsx
  packages/msw-devtools/src/index.tsx
Due: pnpm format, pnpm --filter playground lint

chore: update README
  .husky/pre-commit
  README-EN.md
  README.md
  README/README.ko.md
  package.json
  packages/msw-devtools/README-EN.md
  packages/msw-devtools/README.md
  packages/msw-devtools/README/README.ko.md
Due: none

feat: change install prop name
  .changeset/ninety-bats-rhyme.md
  README.md
  README/README.ko.md
  apps/playground/src/main.tsx
  packages/msw-devtools/README.md
  packages/msw-devtools/README/README.ko.md
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format, pnpm --filter playground lint

fix: move codemirror to devDeps and make it bundled
  .changeset/real-fishes-allow.md
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: change changeset pr title
  .github/workflows/release.yml
Due: none

chore: remove unnecessary aria prop
  packages/msw-devtools/src/components/Layout.tsx
Due: pnpm format

feat: change z-index logic
  .changeset/curly-trains-double.md
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/tailwind.config.js
Due: pnpm format

feat: add boolean type
  packages/msw-devtools/src/hooks/useLocalStorageState.ts
Due: pnpm format

feat: save open state on local
  packages/msw-devtools/src/DevTools.tsx
Due: pnpm format

feat: save panel height on local
  packages/msw-devtools/src/components/Layout.tsx
Due: pnpm format

feat: add drag handle
  packages/msw-devtools/src/components/Layout.tsx
Due: pnpm format

feat: save edit state
  .changeset/plenty-rice-sin.md
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format

fix: make font not to be override
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab.tsx
Due: pnpm format
