Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

feat: redesign panel UI for a cleaner, professional look
  .gitignore
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/components/MethodPill.tsx
  packages/msw-devtools/src/components/Prompt/Backdrop.tsx
  packages/msw-devtools/src/components/Prompt/Prompt.tsx
  packages/msw-devtools/src/components/PromptModePill.tsx
  packages/msw-devtools/src/components/StatusPill.tsx
  packages/msw-devtools/src/components/Toggle.tsx
  packages/msw-devtools/src/components/UrlText.tsx
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/EditModeIndicator.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/FormButtons.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/RequestOptions.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/ResponseBodyHeader.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/ToggleOptions.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/URLField.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListFrame.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab.tsx
  packages/msw-devtools/tailwind.config.js
Due: pnpm format

feat: add Storybook 8 dev environment and update README screenshots
  README/EN/image1.png
  README/EN/image2.png
  README/EN/image3.png
  README/EN/image4.png
  README/EN/prompt-mode.gif
  README/KO/image1.png
  README/KO/image2.png
  README/KO/image3.png
  README/KO/image4.png
  package.json
  packages/msw-devtools/.storybook/main.ts
  packages/msw-devtools/.storybook/mocks/msw.ts
  packages/msw-devtools/.storybook/mocks/server.ts
  packages/msw-devtools/.storybook/preview.tsx
  packages/msw-devtools/package.json
  packages/msw-devtools/scripts/capture-screenshots.mjs
  packages/msw-devtools/src/components/FloatingButton.stories.tsx
  packages/msw-devtools/src/components/Layout.stories.tsx
  packages/msw-devtools/src/components/MethodPill.stories.tsx
  packages/msw-devtools/src/components/Prompt/Prompt.stories.tsx
  packages/msw-devtools/src/components/PromptModePill.stories.tsx
  packages/msw-devtools/src/components/ScrollList.stories.tsx
  packages/msw-devtools/src/components/StatusPill.stories.tsx
  packages/msw-devtools/src/components/Toggle.stories.tsx
  packages/msw-devtools/src/components/UrlText.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockTab.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab.stories.tsx
  pnpm-lock.yaml
Due: pnpm format

chore: add changeset for UI redesign and Storybook
  .changeset/ui-redesign-storybook.md
Due: none

fix: improve prompt-mode.gif with full interaction flow
  README/EN/prompt-mode.gif
Due: none

refactor: clean code improvements across 10 areas
  packages/msw-devtools/eslint.config.js
  packages/msw-devtools/src/components/MethodPill.tsx
  packages/msw-devtools/src/components/ResponseIndexBadge.tsx
  packages/msw-devtools/src/components/StatusPill.tsx
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/createStorageContext.tsx
  packages/msw-devtools/src/components/contexts/default-response-delay.tsx
  packages/msw-devtools/src/components/contexts/default-response.tsx
  packages/msw-devtools/src/components/contexts/default-url.tsx
  packages/msw-devtools/src/components/contexts/edit-state.tsx
  packages/msw-devtools/src/components/contexts/floating-button.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/RequestOptions.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/__tests__/utils.spec.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormDefaults.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormPersistence.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/hooks/useFormSubmit.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListFrame.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/types/form.ts
Due: pnpm format

chore: update Storybook stories for refactored contexts
  packages/msw-devtools/src/components/FloatingButton.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockTab.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.stories.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.stories.tsx
Due: pnpm format

feat: migrate to React 19 across all packages
  apps/docs/package.json
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/[locale]/page.tsx
  apps/docs/src/app/page.tsx
  apps/docs/src/app/types.ts
  apps/playground/package.json
  apps/playground/public/mockServiceWorker.js
  package.json
  packages/msw-devtools/package.json
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/Toggle.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/hooks/useLongClick.ts
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter playground lint

chore: update changeset with full English description
  .changeset/ui-redesign-storybook.md
Due: none

chore: update versions
  .changeset/blue-teachers-learn.md
  .changeset/ui-redesign-storybook.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
  packages/web-core/CHANGELOG.md
  packages/web-core/package.json
Due: none

fix: docs Next.js 15 build — accept string params from dynamic route
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/[locale]/page.tsx
Due: pnpm format

fix: docs Next.js 15 build and update happy-dom
  apps/docs/src/app/[locale]/layout.tsx
  apps/docs/src/app/[locale]/page.tsx
  apps/docs/src/locales/guards.ts
  package.json
  packages/msw-devtools/package.json
  pnpm-lock.yaml
Due: pnpm format

fix: update rollup and vite to patch security vulnerabilities
  .changeset/update-vulnerable-deps.md
  apps/playground-vue/package.json
  apps/playground/package.json
  packages/core/package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools/package.json
  packages/web-core/package.json
  pnpm-lock.yaml
Due: none

chore: update versions
  .changeset/update-vulnerable-deps.md
  packages/msw-devtools-server/CHANGELOG.md
  packages/msw-devtools-server/package.json
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

feat: register Log tab with i18n keys (EN/KO)
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

feat: implement LogTab UI with controls, entries, and detail accordion
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/contexts/request-log.tsx
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogControls.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogDetail.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogEntry.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogTab.tsx
Due: pnpm format

feat: add Request Log tab with early capture and static asset filtering
  .changeset/request-log-feature.md
  packages/msw-devtools/src/components/contexts/request-log.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogControls.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogDetail.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogEntry.tsx
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogTab.tsx
  packages/msw-devtools/src/lib/msw/worker.ts
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

fix: sort imports in LogTab.tsx (lint)
  packages/msw-devtools/src/components/tabs/TabBody/LogTab/LogTab.tsx
Due: pnpm format

fix: guard startEarlyCapture for mock workers without events
  packages/msw-devtools/src/lib/msw/worker.ts
Due: pnpm format

chore: update versions
  .changeset/request-log-feature.md
  packages/msw-devtools/CHANGELOG.md
  packages/msw-devtools/package.json
Due: none

docs: add Request Log feature to README with screenshots
  README.md
  README/EN/image1.png
  README/EN/image2.png
  README/EN/image3.png
  README/EN/image4.png
  README/EN/image5.png
  README/KO/README.ko.md
  README/KO/image1.png
  README/KO/image2.png
  README/KO/image3.png
  README/KO/image4.png
  README/KO/image5.png
Due: none

docs: update Carousel images and add Log tab screenshot
  apps/docs/src/components/client/Carousel/assets/en/image1.png
  apps/docs/src/components/client/Carousel/assets/en/image2.png
  apps/docs/src/components/client/Carousel/assets/en/image3.png
  apps/docs/src/components/client/Carousel/assets/en/image4.png
  apps/docs/src/components/client/Carousel/assets/en/image5.png
  apps/docs/src/components/client/Carousel/assets/en/index.ts
  apps/docs/src/components/client/Carousel/assets/ko/image1.png
  apps/docs/src/components/client/Carousel/assets/ko/image2.png
  apps/docs/src/components/client/Carousel/assets/ko/image3.png
  apps/docs/src/components/client/Carousel/assets/ko/image4.png
  apps/docs/src/components/client/Carousel/assets/ko/image5.png
  apps/docs/src/components/client/Carousel/assets/ko/index.ts
  apps/docs/tsconfig.json
Due: pnpm format

Path conditions:
  pnpm format: any of: *.{js,jsx,ts,tsx}
  pnpm --filter @custardcream/msw-devtool lint: any of: packages/msw-devtool/**/*.{js,jsx,ts,tsx}
  pnpm --filter playground lint: any of: apps/playground/**/*.{js,jsx,ts,tsx}
