Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

chore: remove logs
  packages/vite-plugin-msw-devtools/src/workspace/check-config-files.ts
  packages/vite-plugin-msw-devtools/src/workspace/packageJson.ts
Due: pnpm format

feat: add generate json file feature
  apps/playground/src/__tests__/mock/list.json
  apps/playground/vite.config.ts
  packages/vite-plugin-msw-devtools/src/listeners/mock-list.ts
  packages/vite-plugin-msw-devtools/src/options.ts
  packages/vite-plugin-msw-devtools/src/types.ts
Due: pnpm format, pnpm --filter playground lint

chore: make core to be private package
  .changeset/config.json
  packages/msw-devtools-core/package.json
  packages/msw-devtools/package.json
  packages/vite-plugin-msw-devtools/package.json
  pnpm-lock.yaml
Due: none

chore: change config for core
  .changeset/config.json
Due: none

chore: update README
  .changeset/strange-penguins-invite.md
  README.md
  README/KO/README.ko.md
  README/README.ko.md
  README/image1.ko.png
  README/image1.png
  README/image2.ko.png
  README/image2.png
  packages/vite-plugin-msw-devtools/README.md
Due: none

chore: update changeset
  .changeset/strange-penguins-invite.md
Due: none

fix: script
  apps/playground/package.json
  package.json
Due: none

fix: bundle core package
  packages/msw-devtools/rollup.config.js
  packages/vite-plugin-msw-devtools/rollup.config.js
Due: pnpm format

chore: format
  apps/playground/src/__tests__/mock/list.json
Due: none

chore: add link to doc
  packages/msw-devtools/src/lib/msw/initialize.ts
Due: pnpm format

chore: setup git user
  .github/workflows/release.yml
Due: none

fix: match vite version
  apps/playground-vue/package.json
  apps/playground/package.json
  packages/vite-plugin-msw-devtools/package.json
  pnpm-lock.yaml
Due: none

feat: add next js playground with msw-devtools
  .changeset/config.json
  apps/playground-next/.eslintrc.json
  apps/playground-next/.gitignore
  apps/playground-next/.prettierrc
  apps/playground-next/README.md
  apps/playground-next/next.config.mjs
  apps/playground-next/package.json
  apps/playground-next/postcss.config.mjs
  apps/playground-next/public/mockServiceWorker.js
  apps/playground-next/src/app/get-query-client.ts
  apps/playground-next/src/app/globals.css
  apps/playground-next/src/app/layout.tsx
  apps/playground-next/src/app/msw-provider.tsx
  apps/playground-next/src/app/page.tsx
  apps/playground-next/src/app/query-client-provider.tsx
  apps/playground-next/src/components/FetchTest.tsx
  apps/playground-next/src/mock/browser.ts
  apps/playground-next/src/mock/handlers.ts
  apps/playground-next/src/mock/server.ts
  apps/playground-next/tailwind.config.ts
  apps/playground-next/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm format

chore: change core package name
  .changeset/config.json
  packages/core/CHANGELOG.md
  packages/core/eslint.config.js
  packages/core/package.json
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/constants.ts
  packages/core/src/guards.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/tsconfig.json
  packages/core/vite/events.d.ts
  packages/core/vitest.config.ts
  packages/msw-devtools/package.json
  packages/msw-devtools/rollup.config.js
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/utils.ts
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/lib/__tests__/msw/generateHandler.spec.ts
  packages/msw-devtools/src/lib/msw/generateHandler.ts
  packages/msw-devtools/src/lib/msw/initialize.ts
  packages/msw-devtools/src/lib/msw/register.ts
  packages/msw-devtools/src/lib/vite.ts
  packages/msw-devtools/src/utils/__tests__/isSameMockJson.spec.ts
  packages/msw-devtools/src/utils/__tests__/jsonMockToFormFieldValues.spec.ts
  packages/msw-devtools/src/utils/formFieldValuesToJsonMock.ts
  packages/msw-devtools/src/utils/isSameJsonMock.ts
  packages/msw-devtools/src/utils/jsonMockToFormFieldValues.ts
  packages/msw-devtools/tsconfig.json
  packages/vite-plugin-msw-devtools/package.json
  packages/vite-plugin-msw-devtools/rollup.config.js
  packages/vite-plugin-msw-devtools/src/script/generateHandlerScript.ts
  packages/vite-plugin-msw-devtools/src/script/generateScript.ts
  packages/vite-plugin-msw-devtools/tsconfig.json
  pnpm-lock.yaml
Due: pnpm format

chore: fix exports order
  packages/msw-devtools/package.json
  packages/vite-plugin-msw-devtools/package.json
Due: none

feat: add webpack plugin
  apps/playground-next/next.config.mjs
  apps/playground-next/package.json
  package.json
  packages/msw-devtools-webpack-plugin/eslint.config.js
  packages/msw-devtools-webpack-plugin/package.json
  packages/msw-devtools-webpack-plugin/src/index.ts
  packages/msw-devtools-webpack-plugin/src/plugin.ts
  packages/msw-devtools-webpack-plugin/tsconfig.json
  packages/msw-devtools-webpack-plugin/tsup.config.ts
  packages/msw-devtools-webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm format

feat: add websocket types, utils
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/constants.ts
  packages/core/src/guards.ts
  packages/core/src/types/JsonMock.ts
  packages/core/src/types/index.ts
  packages/core/src/types/websocket.ts
  packages/core/src/websocket.ts
Due: pnpm format

chore: change coverage target
  packages/core/vitest.config.ts
  packages/msw-devtools/vitest.config.ts
Due: pnpm format

chore: update npmignore
  packages/msw-devtools/.npmignore
Due: none

chore: remove vitest from playground
  apps/playground/package.json
  apps/playground/vitest.config.ts
  apps/playground/vitest.setup.ts
Due: pnpm format, pnpm --filter playground lint

feat: add logger util
  packages/core/src/__tests__/logger.spec.ts
  packages/core/src/logger.ts
Due: pnpm format

feat: add websocket event utils/types
  packages/core/eslint.config.js
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/index.ts
  packages/core/src/types/websocket.ts
  packages/core/src/websocket.ts
Due: pnpm format

chore: move handler generator to core package
  packages/core/package.json
  packages/core/src/__tests__/generateHandler.spec.ts
  packages/core/src/generateHandler.ts
  packages/core/src/index.ts
  packages/msw-devtools/src/lib/__tests__/msw/register.spec.ts
  packages/msw-devtools/src/lib/msw/register.ts
Due: pnpm format

feat: change ACK event type
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/guards.ts
  packages/core/src/types/websocket.ts
Due: pnpm format

fix: core utils edge cases
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/generateHandler.ts
  packages/core/src/guards.ts
  packages/core/src/websocket.ts
Due: pnpm format

feat: add websocket config constants
  packages/core/src/constants.ts
Due: pnpm format

feat: add msw-devtools-server
  .changeset/config.json
  .gitignore
  apps/playground-next/mockList.json
  apps/playground-next/next.config.mjs
  apps/playground-next/package.json
  apps/playground-next/src/mock/browser.ts
  apps/playground-next/src/mock/handlers.ts
  apps/playground-next/src/mock/server.ts
  package.json
  packages/msw-devtools-server/.npmignore
  packages/msw-devtools-server/README.md
  packages/msw-devtools-server/eslint.config.mjs
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/rollup.config.js
  packages/msw-devtools-server/src/__tests__/file.spec.ts
  packages/msw-devtools-server/src/bin.ts
  packages/msw-devtools-server/src/file.ts
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/jsonMockToHandlers.ts
  packages/msw-devtools-server/src/server.ts
  packages/msw-devtools-server/src/types.ts
  packages/msw-devtools-server/src/utils/__tests__/parseJsonMockList.spec.ts
  packages/msw-devtools-server/src/utils/log.ts
  packages/msw-devtools-server/src/utils/parseJsonMockList.ts
  packages/msw-devtools-server/tsconfig.json
  packages/msw-devtools-server/vitest.config.ts
  packages/msw-devtools-webpack-plugin/src/index.ts
  packages/msw-devtools-webpack-plugin/src/plugin.ts
  packages/msw-devtools-webpack-plugin/tsup.config.ts
  packages/msw-devtools/src/components/contexts/__tests__/mock-list.spec.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/lib/__tests__/createDevtool.spec.ts
  packages/msw-devtools/src/lib/createDevtool.tsx
  packages/msw-devtools/src/lib/log.ts
  packages/msw-devtools/src/lib/server.ts
  pnpm-lock.yaml
Due: pnpm format

chore: change path
  apps/playground-next/mockList.json
  package.json
  packages/msw-devtools-server/package.json
  packages/msw-devtools-server/rollup.config.js
  packages/msw-devtools-server/src/cli/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/file.ts
  packages/msw-devtools-server/src/cli/index.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools-server/src/cli/types.ts
  packages/msw-devtools-server/src/cli/utils/__tests__/parseJsonMockList.spec.ts
  packages/msw-devtools-server/src/cli/utils/log.ts
  packages/msw-devtools-server/src/cli/utils/parseJsonMockList.ts
  packages/msw-devtools-server/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm format

chore: gitignore mockList.json
  apps/playground-next/.gitignore
  apps/playground-next/mockList.json
Due: none

feat: server side handler hmr
  apps/playground-next/src/mock/server.ts
  packages/msw-devtools-server/src/__tests__/file.spec.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools-server/src/file.ts
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

fix: handle non file exist edge case
  packages/msw-devtools-server/src/index.ts
  packages/msw-devtools-server/src/jsonMockToHandlers.ts
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

feat: use chokidar instead of ws
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

feat: make server singleton
  packages/msw-devtools-server/src/cli/server.ts
Due: pnpm format

feat: refactor register utils
  packages/msw-devtools-server/src/__tests__/register.spec.ts
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

chore: remove console log
  packages/msw-devtools-server/src/register.ts
Due: pnpm format

feat: add MSWDevtoolsClientType, cleanup on disconnect, refactor cli/server
  packages/core/src/__tests__/guards.spec.ts
  packages/core/src/__tests__/websocket.spec.ts
  packages/core/src/constants.ts
  packages/core/src/guards.ts
  packages/core/src/types/websocket.ts
  packages/msw-devtools-server/src/cli/server.ts
  packages/msw-devtools/src/lib/server.ts
Due: pnpm format

chore: remove deps
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm format: any of: *.{js,jsx,ts,tsx}
  pnpm --filter @custardcream/msw-devtool lint: any of: packages/msw-devtool/**/*.{js,jsx,ts,tsx}
  pnpm --filter playground lint: any of: apps/playground/**/*.{js,jsx,ts,tsx}
