Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm format"],
  "packages/msw-devtool/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @custardcream/msw-devtool lint"
  ],
  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm --filter playground lint"]
}

feat: add ability to modify status
  .changeset/shiny-nails-cough.md
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/constants.ts
Due: pnpm format

feat: save last viewed tab
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
Due: pnpm format

feat: make side panel able to open
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListFrame.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

chore: remove min height
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
Due: pnpm format

feat: remove highlight on readonly editor
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
Due: pnpm format

feat: save activated mock list sidebar opened state on local
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListFrame.tsx
Due: pnpm format

fix: language koran reset issue
  .changeset/beige-laws-approve.md
  packages/msw-devtools/src/lib/i18n.ts
Due: pnpm format

feat: gather localStorage value
  packages/msw-devtools/src/DevTools.tsx
  packages/msw-devtools/src/components/FloatingButton.tsx
  packages/msw-devtools/src/components/Layout.tsx
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
  packages/msw-devtools/src/components/contexts/default-response.tsx
  packages/msw-devtools/src/components/contexts/default-url.tsx
  packages/msw-devtools/src/components/contexts/floating-button.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListFrame.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/hooks/useLocalStorageState.ts
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format

feat: style improvement
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
Due: pnpm format

feat: hide cursor when editor is readOnly
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard.tsx
Due: pnpm format

fix: remove default export
  README.md
  README/README.ko.md
  packages/msw-devtools/README.md
  packages/msw-devtools/README/README.ko.md
  packages/msw-devtools/src/index.tsx
Due: pnpm format

feat: code split
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard/ActivatedMockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard/ActivatedMockCardAccordion.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard/index.ts
Due: pnpm format

feat: add mock edit / delete feature
  .changeset/chatty-eyes-sit.md
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard/ActivatedMockCard.tsx
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format

feat: bypass unhandled request
  README.md
  README/README.ko.md
  apps/playground/src/main.tsx
Due: pnpm format, pnpm --filter playground lint

chore: change readme copy script
  .husky/pre-commit
  README.md
  README/README.ko.md
Due: none

chore: update README
  README.md
  README/README.ko.md
  README/image1.ko.png
  README/image1.png
  README/image2.ko.png
  README/image2.png
  packages/msw-devtools/README.md
  packages/msw-devtools/README/README.ko.md
  packages/msw-devtools/README/image1.ko.png
  packages/msw-devtools/README/image1.png
  packages/msw-devtools/README/image2.ko.png
  packages/msw-devtools/README/image2.png
Due: none

chore: remove unnecessary step
  .github/workflows/release.yml
Due: none

chore: add ignore-step script
  .gitignore
  .vercel/ignore-step.sh
Due: none

chore: add description
  apps/playground/src/App.tsx
  apps/playground/src/FetchTest.tsx
Due: pnpm format, pnpm --filter playground lint

chore: update README
  README.md
  README/README.ko.md
  packages/msw-devtools/README.md
  packages/msw-devtools/README/README.ko.md
Due: none

chore
  .github/FUNDING.yml
Due: none

chore: change vercel deploy condition
  .vercel/ignore-step.sh
Due: none

fix: change devtools install logic
  packages/msw-devtools/src/lib/createDevtool.tsx
Due: pnpm format

fix: add border
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListFrame.tsx
Due: pnpm format

fix: handle same url with different method differently
  .changeset/thin-ravens-crash.md
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
Due: pnpm format

feat: append root to bottom
  packages/msw-devtools/src/lib/createDevtool.tsx
Due: pnpm format

fix: handle default form state properly
  .changeset/proud-years-poke.md
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format

chore: change lint rule
  packages/msw-devtools/eslint.config.js
Due: pnpm format

feat: JSON autofix
  .changeset/great-hotels-rescue.md
  packages/msw-devtools/package.json
  packages/msw-devtools/src/components/CodeEditor.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockFormCodeEditor.tsx
  packages/msw-devtools/src/lib/json.ts
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
  packages/msw-devtools/tailwind.config.js
  pnpm-lock.yaml
Due: pnpm format

feat: refactor useIsIntersecting
  packages/msw-devtools/src/hooks/useIsIntersecting.ts
Due: pnpm format

chore: remove unused eslint-disable directive
  apps/playground/public/mockServiceWorker.js
Due: pnpm format, pnpm --filter playground lint

fix: fix removing unwanted mock handler
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format

feat: change domain name
  packages/msw-devtools/src/components/contexts/activated-mock-list.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBar/TabBar.tsx
  packages/msw-devtools/src/components/tabs/TabBar/context.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockCard/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/ActivatedMockListTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListFrame.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/index.ts
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
Due: pnpm format

feat: refactor register/unregister mock logic
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockListFrame.tsx
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format

feat: add toggle
  .changeset/heavy-guests-bathe.md
  packages/msw-devtools/src/components/Toggle.tsx
  packages/msw-devtools/src/components/contexts/mock-list.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCardAccordion.tsx
  packages/msw-devtools/src/lib/msw.ts
  packages/msw-devtools/src/types.ts
  packages/msw-devtools/src/utils/isSameMockJson.ts
Due: pnpm format

feat: add setting delay
  .changeset/good-phones-draw.md
  packages/msw-devtools/src/components/contexts/default-response-delay.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtools/src/components/tabs/TabBody/AddMockTab/AddMockForm/utils.ts
  packages/msw-devtools/src/components/tabs/TabBody/MockListTab/MockCard/MockCard.tsx
  packages/msw-devtools/src/components/tabs/TabBody/SettingsTab.tsx
  packages/msw-devtools/src/components/tabs/TabBody/TabBody.tsx
  packages/msw-devtools/src/constants.ts
  packages/msw-devtools/src/lib/msw.ts
  packages/msw-devtools/src/locales/en/common.json
  packages/msw-devtools/src/locales/ko/common.json
  packages/msw-devtools/src/types.ts
Due: pnpm format

chore: update README
  README.md
  README/EN/image1.png
  README/EN/image2.png
  README/EN/image3.png
  README/KO/README.ko.md
  README/KO/image1.png
  README/KO/image2.png
  README/KO/image3.png
  packages/msw-devtools/README.md
  packages/msw-devtools/README/EN/image1.png
  packages/msw-devtools/README/EN/image2.png
  packages/msw-devtools/README/EN/image3.png
  packages/msw-devtools/README/KO/README.ko.md
  packages/msw-devtools/README/KO/image1.png
  packages/msw-devtools/README/KO/image2.png
  packages/msw-devtools/README/KO/image3.png
  packages/msw-devtools/README/image1.ko.png
  packages/msw-devtools/README/image1.png
  packages/msw-devtools/README/image2.ko.png
  packages/msw-devtools/README/image2.png
Due: none

fix: respect isActivated on start devtools
  .changeset/long-beds-smell.md
  packages/msw-devtools/src/lib/msw.ts
Due: pnpm format

chore: change demo
  apps/playground/src/App.tsx
  apps/playground/src/FetchTest.tsx
  apps/playground/src/QuerySuspenseBoundary.tsx
  apps/playground/src/reset.css
Due: pnpm format, pnpm --filter playground lint

fix: activate / deactivate bug
  .changeset/heavy-lamps-scream.md
  packages/msw-devtools/src/components/contexts/mock-list.tsx
Due: pnpm format
