Repository custardcream98/msw-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["pnpm format"],
  "packages/msw-devtool/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @custardcream/msw-devtool lint"
  ],
  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm --filter playground lint"]
}

feat: add sourcemap on dev
  packages/msw-devtool/rollup.config.js
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

playground feat: add mockServiceWorker
  apps/playground/package.json
  apps/playground/public/mockServiceWorker.js
  apps/playground/src/main.tsx
Due: pnpm format, pnpm --filter playground lint

feat: layout
  apps/playground/src/main.tsx
  packages/msw-devtool/src/App.tsx
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/hooks/useDrag.ts
  packages/msw-devtool/src/index.css
  packages/msw-devtool/src/lib/createDevtool.tsx
  packages/msw-devtool/src/lib/install.tsx
  packages/msw-devtool/src/style.d.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

feat: add style scope
  packages/msw-devtool/package.json
  packages/msw-devtool/src/App.tsx
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/index.css
  packages/msw-devtool/src/index.tsx
  packages/msw-devtool/src/lib/createDevtool.tsx
  packages/msw-devtool/src/lib/install.tsx
  packages/msw-devtool/tailwind.config.js
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

mvp
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/FetchTest.tsx
  apps/playground/src/QuerySuspenseBoundary.tsx
  apps/playground/src/main.tsx
  packages/msw-devtool/package.json
  packages/msw-devtool/src/App.tsx
  packages/msw-devtool/src/components/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/AddMockForm/form.ts
  packages/msw-devtool/src/components/AddMockForm/index.ts
  packages/msw-devtool/src/lib/createDevtool.tsx
  packages/msw-devtool/src/lib/msw.ts
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint, pnpm --filter playground lint

feat: add z index
  packages/msw-devtool/src/DevTools.tsx
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/index.css
  packages/msw-devtool/src/index.tsx
  packages/msw-devtool/src/lib/createDevtool.tsx
  packages/msw-devtool/tailwind.config.js
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

chore: add prettierignore
  .prettierignore
Due: none

chore: change prettier config
  package.json
  packages/msw-devtool/.prettierrc
  packages/msw-devtool/package.json
  packages/msw-devtool/src/DevTools.tsx
  packages/msw-devtool/src/components/Layout.tsx
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add open/close transition
  packages/msw-devtool/package.json
  packages/msw-devtool/src/DevTools.tsx
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/index.css
  packages/msw-devtool/tailwind.config.js
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add scroll dim
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/hooks/useIntersectionObserver.ts
  packages/msw-devtool/src/hooks/useIsIntersecting.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add TabBar
  packages/msw-devtool/src/DevTools.tsx
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/components/TabBar/TabBar.tsx
  packages/msw-devtool/src/components/TabBar/context.tsx
  packages/msw-devtool/src/components/TabBar/index.ts
  packages/msw-devtool/src/components/TabBody/TabBody.tsx
  packages/msw-devtool/src/components/TabBody/index.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: code split FloatingButton
  packages/msw-devtool/src/DevTools.tsx
  packages/msw-devtool/src/components/FloatingButton.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: remove unnecessary init logic
  packages/msw-devtool/src/lib/createDevtool.tsx
  packages/msw-devtool/src/lib/msw.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add AddMockTab
  packages/msw-devtool/src/components/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/Layout.tsx
  packages/msw-devtool/src/components/TabBar/TabBar.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/form.ts
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/index.ts
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockTab.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/index.ts
  packages/msw-devtool/src/components/TabBody/TabBody.tsx
  packages/msw-devtool/src/index.css
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add ActivatedMockListTab
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/context.tsx
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/index.ts
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/TabBody.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: code split ScrollList
  packages/msw-devtool/src/components/ScrollList/ScrollList.tsx
  packages/msw-devtool/src/components/ScrollList/index.ts
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockTab.tsx
  packages/msw-devtool/src/components/TabBody/TabBody.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add fetch test api url
  apps/playground/src/FetchTest.tsx
Due: pnpm format, pnpm --filter playground lint

feat: change useIsIntersecting default value
  packages/msw-devtool/src/hooks/useIsIntersecting.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: change style
  packages/msw-devtool/src/components/TabBar/TabBar.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/index.css
  packages/msw-devtool/tailwind.config.js
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add useLocalStorageState hook
  packages/msw-devtool/src/hooks/useLocalStorageState.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add SettingsTab
  packages/msw-devtool/src/components/TabBar/TabBar.tsx
  packages/msw-devtool/src/components/TabBar/context.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtool/src/components/TabBody/SettingsTab/context.tsx
  packages/msw-devtool/src/components/TabBody/SettingsTab/index.ts
  packages/msw-devtool/src/components/TabBody/TabBody.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: change default response body setting to be saved always
  packages/msw-devtool/src/components/TabBody/SettingsTab/SettingsTab.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add default url settings
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtool/src/components/TabBody/SettingsTab/context.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add mock list export import feature
  packages/msw-devtool/src/components/ScrollList/ScrollList.tsx
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/tailwind.config.js
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

fix: make msw not to be bundled in prod
  apps/playground/src/main.tsx
Due: pnpm format, pnpm --filter playground lint

chore: add playground build script
  package.json
Due: none

feat: remove unnecessary env check
  packages/msw-devtool/src/index.tsx
  packages/msw-devtool/src/lib/createDevtool.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

refactor: separate JsonMock type and FormFieldValues type
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/context.tsx
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/utils.ts
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/utils.ts
  packages/msw-devtool/src/types.ts
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

chore
  packages/msw-devtool/src/lib/createDevtool.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add rollup-plugin-delete
  packages/msw-devtool/package.json
  packages/msw-devtool/rollup.config.js
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: remove removing prev build
  packages/msw-devtool/rollup.config.js
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: use codemirror for json editor
  package.json
  packages/msw-devtool/package.json
  packages/msw-devtool/rollup.config.js
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/CodeEditor.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockTab.tsx
  packages/msw-devtool/src/components/TabBody/SettingsTab/SettingsTab.tsx
  packages/msw-devtool/tailwind.config.js
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

fix: $ sign auto cursor feature
  packages/msw-devtool/package.json
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/CodeEditor.tsx
  pnpm-lock.yaml
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

fix: mock response
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: add error handling
  packages/msw-devtool/src/components/TabBody/ActivatedMockListTab/ActivatedMockListTab.tsx
  packages/msw-devtool/src/components/TabBody/AddMockTab/AddMockForm/AddMockForm.tsx
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

feat: exclude deps from package
  packages/msw-devtool/rollup.config.js
Due: pnpm format, pnpm --filter @custardcream/msw-devtool lint

chore: add readme
  packages/msw-devtools/README.md
Due: none

feat: edit package json
  packages/msw-devtools/package.json
Due: none

chore: add license
  LICENSE
Due: none
